# 機械学習・データ分析(2019)  課題3（期末課題）

### このnotebookには、いくつかの設問が記載されています。
### 先頭から順番に、指示に従ってPython Codeをcellに記述してください。
### codeを記述するcellは、各自適切に生成してください。
### ぜひ、楽しみながら課題に取り組んでください。



## <span style="color: red; ">課題提出期限
# <span style="color: red; ">2019年7月1日（月）17時30分


## 課題提出方法
### 各自のGitHubに、学籍番号_MD3（たとえば、C180001_MD3）という名称のrepositoryを作成してください。
### このnotebookを各自のGitHubのリポジトリ（学籍番号_MD3)へコピーしてください。
### このnotebookに記載されたcodeは、データファイルtitanic.csvを参照しています。そこで、このデータファイルも必ずGitHubのリポジトリへコピーしてください。
### このnotebookに記載されたcodeがデータファイルを参照している場合、そのデータファイルも必ずGitHubのRepositoryへコピーしてください。
### 各自のGitHubのリポジトリをoffice 365のメールアカウントを使用して、sugimura@ccg.ac.jpへ送信してください。メールの件名は、学籍番号_MD3としてください。
### 【重要】指定された方法で課題を提出することも課題に含まれています。

## 【設問1】
### データ分析では、データが欠損していること（一部のデータが欠けていること）があります。欠損したままのデータを処理すると、たとえば、平均値などの結果に正しい値が得られなくなります。そのため、欠損値は除外することが必要になります。
### 欠損値は、numpyモジュールにおけるnumpy.nanという特別な値で表現することができます。
### 課題２で使用したDataFrame型のオブジェクトattr1_dataframe1を使って、データの欠損について学びます。

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

attr1 = {'ID':['100', '102', '104', '106', '108'],
         'City':['Tokyo', 'Osaka', 'Kyoto', 'Hokkaido', 'Tokyo'],
         'Birth_year':[1990, 1989, 1992, 1997, 1982],
         'Name':['Hiroshi', 'Akiko', 'Yuki', 'Satoru', 'Steeve']}

attr1_dataframe1 = DataFrame(attr1)
attr1_dataframe1

    ID      City  Birth_year     Name
0  100     Tokyo        1990  Hiroshi
1  102     Osaka        1989    Akiko
2  104     Kyoto        1992     Yuki
3  106  Hokkaido        1997   Satoru
4  108     Tokyo        1982   Steeve

### 【設問１－１】解答
#### データattr1_dataframe1のすべての要素の中に、Tokyoという文字列が存在するかどうかをisinメソッドを使って調べてください。
#### isinを用いると、要素にTokyoが含まれているとき、Trueを表示し、要素にTokyoが含まれていないとき、Falseを表示します。

### 【設問１－２】解答
#### データattr1_dataframe1の列Nameの値をすべてnanに変更した新しいデータattr1_dataframe2を作成し、画面に表示させてください。

### 【設問１－３】解答
#### データattr1_dataframe2の要素がnanであるかどうかを調べてください。
#### データの要素がnanであるかどうかは、isnull()メソッドによって判定することができます。
#### たとえば、DataFrame型データdfの要素がnanであるかどうかは、df.isnull()によって調べることができます。

### 列Nameのすべての要素がTrueになりましたか？
### 列ごとのnanの個数は、nanを判定し、Trueの数を合計すれば求めることができます。
### 以下の結果を確認して下さい。

In [ ]:
attr1_dataframe2.isnull().sum()

### 列Nameにおけるnanの個数が５個であることを確認できたはずです。

## 【設問２】
### 関数を定義し、関数のグラフを描画しましょう。
### 描画する関数は、

$$f(x) = x ^ 2 + 2x + 1 $$

### という二次関数です。
### Jupyter Notebook中にグラフを描画するため、いつも通りにいくつかのモジュールをインポートして準備しましょう。

In [4]:
import matplotlib.pyplot as plt
%matplotlib inline

### 【設問２－１】解答
#### 二次関数f(x)を定義してください。関数名は、function_1(x)としてください。

### 【設問２－２】解答
#### 関数f(x)におけるxは、-10から+10までの値を取り得るものとします。このxの範囲をnp.arange(下限値, 上限値)を使って定義してください。
#### arrangeではなく、arangeであることに注意してください。

### では、関数のグラフを描画しましょう。

In [ ]:
plt.figure(figsize=(10, 4))
plt.plot(x, function_1(x))
plt.grid(True)

### 【設問２－３】
### 次の関数

$$f(x) = - x ^ 2 - 2x + 1 $$

### を描画してください。
### ただし、xは、-20から+20までの値を取り得るものとします。

## 【設問３】
### Pandasを使ってcsvファイルを読み込み、統計量を計算しましょう。
### 読み込むファイルは、titanic.csvです。

### 【設問３－１】解答
#### titanic.csvをDataFrame型データに読み込み、先頭の５行を表示させてください。

### 【設問３－２】解答
#### Titanic号の乗員の年齢構成を調べ、
+ 9歳以下　　 　〇〇人
+ 10歳から19歳　〇〇人
* 20歳から29歳　〇〇人
* 30歳から39歳　〇〇人
+ 40歳から49歳　〇〇人
+ 50歳から59歳　〇〇人
+ 60歳から69歳　〇〇人
+ 70歳以上　　　〇〇人
#### のように表示しなさい。

### 【設問３－３】解答
#### 設問３－２で求めた年齢構成を円グラフで表してください。

### 【設問３－４】解答
#### 生存者の年齢構成を【設問３－３】と同様に円グラフで表してください。

# 以上で期末課題は終了です。お疲れさまでした。